<div *ngIf="grid$ | async as grid">
  <!--  <div>{{grid | json}}</div>-->
  <div>{{display$ | async | json}}</div>

  <button class="btn btn-primary"
          (click)="getSelectedRows()">Get Selected Rows
  </button>

  <ag-grid-angular style="width: 95%; height: 500px;"
                   #agGrid
                   class="ag-theme-balham"
                   [columnDefs]="grid.gridConfig.columnDefs"
                   [rowSelection]="grid.gridConfig.rowSelection"
                   [rowDragManaged]="grid.gridConfig.rowDragManaged"
                   [animateRows]="grid.gridConfig.animateRows"
                   [deltaRowDataMode]="grid.gridConfig.deltaRowDataMode"
                   [getRowNodeId]="getRowNodeId"
                   [rowData]="grid.rowData"
                   (gridReady)="onGridReady($event)"
                   (rowDragEnd)="rowDragEnd($event)"></ag-grid-angular>
</div>
