<div *ngIf="grid$ | async as grid">
  <!--  <div>{{grid | json}}</div>-->
  <div>{{display$ | async | json}}</div>

  <button class="btn btn-primary" (click)="getSelectedRows()">Get Selected Rows</button>

  <ag-grid-angular style="width: 500px; height: 500px;"
                   #agGrid
                   class="ag-theme-balham"
                   [rowData]="grid.rowData"
                   [columnDefs]="grid.gridConfig.columnDefs"
                   [rowSelection]="grid.gridConfig.rowSelection">
  </ag-grid-angular>
</div>
